<%= link_to("<< Back to List", cities_path, :class => 'back-link') %>

<div class="subjects show">
  <h2>Show City</h2>

  <table summary="Subject detail view">
    <tr>
      <th>Name</th>
      <td><%= @city.name %></td>
    </tr>
  </table>
</div>
